/* Contenedor principal de la tarjeta */
.card-product {
  border: 1px solid rgba(198, 196, 196, 0.5); /* Borde más sutil */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  margin: 15px auto;
  max-width: 300px; /* Ancho más consistente */
  height: 500px;
  background-color: #ffffff7f; /* Fondo blanco para un diseño limpio */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave y sutil */
  overflow: hidden;
  cursor: pointer; /* Indica que es interactivo */
}

/* Estilo para el hover */
.card-product:hover {
  transform: translateY(-5px); /* Leve movimiento hacia arriba */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

/* Estilo para la imagen */
.card-img-top {
  width: 100%;
  height: 250px; /* Altura consistente */
  object-fit: cover; /* Mantiene la proporción */
  border-radius: 15px 15px 0 0;
  background-color: #f9f9f9;
  position: relative;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

/* Controles del slider */
.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
}

.btn-slider {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.btn-slider:hover {
  background: rgba(0, 0, 0, 0.7);
}

.card-body {
  padding: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Tipografía más moderna */
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto asegura que el contenido se distribuya bien */
  height: 100%;
  padding-bottom: 25px; /* Añadimos padding extra para evitar que el botón quede demasiado pegado al borde inferior */
}
/* Título del producto */
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2d3e50; /* Un color gris oscuro para el título */
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* Precio del producto */
.card-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e74c3c; /* Rojo más sutil */
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.card-price:hover {
  color: #c0392b; /* Rojo oscuro al hacer hover */
}

/* Información adicional (Talla y Color) */
.card-talla, .card-color {
  font-size: 1rem;
  color: #7f8c8d; /* Gris para información adicional */
  margin: 5px 0;
}

/* Botón de compra */
.btn-buy {
  background-color: #8e44ad;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 30px; /* Bordes redondeados para un botón más moderno */
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  margin-top: auto; /* Esto asegura que el botón quede en la parte inferior de la tarjeta */
}
.btn-buy:hover {
  background-color: #732d91;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Efecto de hover en la tarjeta */
.card-product:hover .btn-buy {
  background-color: #732d91; /* Cambia el color al hacer hover en la tarjeta */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Leve sombra al hover */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .card-product {
    width: 90%;
    height: auto;
  }
  .card-img-top {
    height: 200px; /* Menor altura para dispositivos móviles */
  }
  .card-body {
    padding: 10px;
  }
  .card-price {
    font-size: 1.3rem;
  }
}
